body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.webgl-canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    outline: none;
}